In [2]:
import pandas as pd
import numpy as np
import hashlib
from dotenv import load_dotenv
import re
import math
from tqdm import tqdm
from tqdm.notebook import tqdm_notebook
from fuzzywuzzy import fuzz
tqdm_notebook.pandas()

import json
import os

/opt/anaconda3/lib/python3.8/site-packages/tqdm/std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [21]:
df = pd.DataFrame()
for file in ['../data/MyData/' + x for x in os.listdir('./data/MyData') if 'StreamingHistory' in x]:
    with open(file, 'r') as f:
        df_temp = pd.DataFrame(json.load(f))
        df = pd.concat([df,df_temp])

In [8]:
df_extended = pd.DataFrame()
for file in ['../data/MyExtendedData/' + x for x in os.listdir('../data/MyExtendedData') if 'Streaming_History_Audio' in x]:
    with open(file, 'r') as f:
        df_temp = pd.DataFrame(json.load(f))
        df_extended = pd.concat([df_extended,df_temp])

In [49]:
summary = df.groupby(['artistName','trackName']).sum().reset_index()
summary['minutes'] = summary['msPlayed'].apply(lambda x: x/60000)
summary['hours'] = summary['minutes'].apply(lambda x: x/60)

In [50]:
summary_artist = df.groupby(['artistName']).sum().reset_index()
summary_artist['minutes'] = summary_artist['msPlayed'].apply(lambda x: x/60000)
summary_artist['hours'] = summary_artist['minutes'].apply(lambda x: x/60)

In [51]:
df_2023 = df[df['endTime'].str.contains("2023")]

In [52]:
summary_2023 = df_2023.groupby(['artistName','trackName']).sum().reset_index()
summary_2023['minutes'] = summary_2023['msPlayed'].apply(lambda x: x/60000)
summary_2023['hours'] = summary_2023['minutes'].apply(lambda x: x/60)

In [53]:
summary_artist_2023 = df_2023.groupby(['artistName']).sum().reset_index()
summary_artist_2023['minutes'] = summary_artist_2023['msPlayed'].apply(lambda x: x/60000)
summary_artist_2023['hours'] = summary_artist_2023['minutes'].apply(lambda x: x/60)

In [80]:
mins = df['msPlayed'].sum()/60000
hours = mins/60
print(mins,' mins')
print(hours,' hours')
print(100 * (3/2) * mins/525600,'% of the awake year')

73061.80151666667  mins
1217.6966919444446  hours
20.850970752473366 % of the awake year

In [32]:
summary

,artistName,trackName,msPlayed
0,!!!,Even When The Water's Cold,966060
1,!!!,"Jamie, My Intentions Are Bass",16068
2,"""Les Misérables Original London Cast"" Ensemble",One Day More,16960
3,$atori Zoom,BUSTER,60
4,$uicideboy$,"...And to Those I Love, Thanks for Sticking Ar...",12898
...,...,...,...
32318,박혜진 Park Hye Jin,CLOUDS,241080
32319,박혜진 Park Hye Jin,Let’s Sing Let’s Dance,98184
32320,박혜진 Park Hye Jin,Like this,430786
32321,박혜진 Park Hye Jin,Y DON'T U,23220
32322,･ ･－･ ･－ ･･･ ･ －･･,・-・・ ・ - ・・ - --・ ---,92592