In [19]:
import spotipy
import pandas as pd
import numpy as np
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
from spotipy.oauth2 import SpotifyOAuth
from dotenv import load_dotenv
import re
import math
from tqdm import tqdm

load_dotenv('../secrets/.env', override=True)

scope = "playlist-modify-private"

spotify = spotipy.Spotify(auth_manager=SpotifyOAuth(scope=scope))

my_id = spotify.current_user()['id']

%run useful_functions.ipynb
%run spotify_scraping.ipynb
%run spotify_scraping_playlists.ipynb

In [20]:
shows = get_shows()
show_broadcast_details = get_show_broadcast_details()
broadcast_details = get_broadcast_details()
broadcast_playlists = get_broadcast_playlists()

tracks = get_spotify_tracks()
albums = get_spotify_albums()
artists = get_spotify_artists()
search = get_spotify_search()
playlists = get_spotify_playlists()
playlist_tracks = get_spotify_playlist_tracks()

master_df = (
broadcast_playlists
.merge(broadcast_details, on='Broadcast Key', how='left', suffixes=(" Broadcast Details",""))
.merge(show_broadcast_details, on='Broadcast Key', how='left', suffixes=(""," Show Details"))
.merge(shows, on='Show Key', how='left')
.merge(search,left_on=['Artist Name','Track Name'], right_on=['Original Search Artist','Original Search Track'], how = "left", suffixes=("", " Search"))
.merge(tracks, on='Track ID', how='left', suffixes=("", " Tracks"))
.sort_values(['Service Date','Broadcast Position'], ascending = [False, True])
)

del(shows,
    show_broadcast_details,
    broadcast_details,
    broadcast_playlists,
    search)

#set(master_df['Show Name'])

In [21]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Indie Show with Jack Saunders")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Indie Show with Jack Saunders"
description = "Songs from the Indie Show with Jack Saunders in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   3EwTIu5qka2l5ZekB0b6QC  2KZedcpHb83f2AXlBDprAV                0
0   72zUxRL6AKWG67No7GmZuc  2KZedcpHb83f2AXlBDprAV                1
0   4m6CLhBh46R33ELYBRa7ge  2KZedcpHb83f2AXlBDprAV                2
0   08v6GcxD4gF8aZ1yuPry0A  2KZedcpHb83f2AXlBDprAV                3
0   4GvPlSOKfN7aXEuGW8zKUx  2KZedcpHb83f2AXlBDprAV                4
..                     ...                     ...              ...
0   2mdaMDbjFxmxQPO90PxT5w  2KZedcpHb83f2AXlBDprAV              744
0   2JjDl1YbzaBKlhSrUXZqNM  2KZedcpHb83f2AXlBDprAV              745
0   0AIlxnJ1kFpu6wp89rjjUv  2KZedcpHb83f2AXlBDprAV              746
0   7BZWTu4Pv77TxGmmsQaSXN  2KZedcpHb83f2AXlBDprAV              747
0   4Yt1wLAC0lS088okmLul0G  2KZedcpHb83f2AXlBDprAV              748

[749 rows x 3 columns]

In [22]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Future Sounds with Clara Amfo")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Radio 1's Future Sounds with Clara Amfo"
description = "Songs from Future Sounds with Clara Amfo in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   6iJUSrA6XoX4FNLGPqzHOv  3VTYIgusziIIdXiWB5hB2f                0
0   1PGirMzvw36N1ftzTKprpr  3VTYIgusziIIdXiWB5hB2f                1
0   0c6XBVz2evmzERhch4Diew  3VTYIgusziIIdXiWB5hB2f                2
0   4nYUJ36Qj9hIY9mKj8QZFF  3VTYIgusziIIdXiWB5hB2f                3
0   3EwTIu5qka2l5ZekB0b6QC  3VTYIgusziIIdXiWB5hB2f                4
..                     ...                     ...              ...
0   74RWuKK8uKMbxj4KnJpEgG  3VTYIgusziIIdXiWB5hB2f              483
0   6UoIrO15w3w62Jj8kGCnR7  3VTYIgusziIIdXiWB5hB2f              484
0   5WnvDdcyrFjbIqRxiqlet1  3VTYIgusziIIdXiWB5hB2f              485
0   6JkuJREwd6rd7t1YN069LK  3VTYIgusziIIdXiWB5hB2f              486
0   4bao9qwqgkBdCuNmKehrOA  3VTYIgusziIIdXiWB5hB2f              487

[488 rows x 3 columns]

In [23]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Future Artists with Jack Saunders")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Radio 1's Future Artists with Jack Saunders"
description = "Songs from Future Artists with Jack Saunders in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   2bbNjtgjr0ZOaPK7SOcVbV  3Wo1IZcPFAfrQJzBpW8QbG                0
0   5BYoZQEbn9MO3RrMUSV4DD  3Wo1IZcPFAfrQJzBpW8QbG                1
0   2QeUnYtvlfQdfWxzF3b1ud  3Wo1IZcPFAfrQJzBpW8QbG                2
0   2c78MPPO66QjzxdTrZSSUt  3Wo1IZcPFAfrQJzBpW8QbG                3
0   3GJbXOYweOltxSiOsCNkMd  3Wo1IZcPFAfrQJzBpW8QbG                4
..                     ...                     ...              ...
0   4IqwX48XrtkoqvZw4hxEfa  3Wo1IZcPFAfrQJzBpW8QbG              815
0   2vT3lchY4bU1BwM69CtDyj  3Wo1IZcPFAfrQJzBpW8QbG              816
0   5BUvQtKdYrWJtdYaSoyFfG  3Wo1IZcPFAfrQJzBpW8QbG              817
0   5cRhrmpBwkZjJ7eFMJKbVM  3Wo1IZcPFAfrQJzBpW8QbG              818
0   3SMr85XVlD4wygg9VOtrFd  3Wo1IZcPFAfrQJzBpW8QbG              819

[820 rows x 3 columns]

In [24]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Future Alternative")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Radio 1's Future Alternative"
description = "Songs from Future Alternative Show in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   3MW6Nrv1iaFPgwlxWTyoDH  0U2xXmHS8QvPrX2WqGT1UH                0
0   6e4wxUvvVboxBIcaM6OVdR  0U2xXmHS8QvPrX2WqGT1UH                1
0   4RWbO2RDo6yyA12R3TNVsx  0U2xXmHS8QvPrX2WqGT1UH                2
0   7uAlf2KtylpPbXCqaB38EJ  0U2xXmHS8QvPrX2WqGT1UH                3
0   5oAyWUfpZNowaIIHkJEAUM  0U2xXmHS8QvPrX2WqGT1UH                4
..                     ...                     ...              ...
0   5QV6DCj4kvteYBDD9Vt1jY  0U2xXmHS8QvPrX2WqGT1UH              520
0   6L4L6bQPHojlmwBZQLQZjc  0U2xXmHS8QvPrX2WqGT1UH              521
0   5P0iRet3L91fC6SipKKsPl  0U2xXmHS8QvPrX2WqGT1UH              522
0   4ZG0EaIiFpFOaJKmT1ZjNO  0U2xXmHS8QvPrX2WqGT1UH              523
0   5B1ZMJQqtjMSJqFckLGLx8  0U2xXmHS8QvPrX2WqGT1UH              524

[525 rows x 3 columns]

In [25]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Steve Lamacq")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Steve Lamacq"
description = "Songs from Steve Lamacq's Show in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   2GF0D3d6LKIsDnk8ufpBQa  6Bu0jMJgdN0Emarjx98IL7                0
0   12RkXOFLV813gXKv6HNrhJ  6Bu0jMJgdN0Emarjx98IL7                1
0   512eBInyc1Vcw21yi6CzzH  6Bu0jMJgdN0Emarjx98IL7                2
0   5VChaeq6hagzFFwDsWETyz  6Bu0jMJgdN0Emarjx98IL7                3
0   7FVvHGA46aU7mkwx4iHMRE  6Bu0jMJgdN0Emarjx98IL7                4
..                     ...                     ...              ...
0   1OO2Fp9PsnaayiekeXuGJX  6Bu0jMJgdN0Emarjx98IL7             1415
0   1ZtE8ysoPZVrMrQ24fVO4f  6Bu0jMJgdN0Emarjx98IL7             1416
0   2AmkpCt3y9NBsB5UgP4S6I  6Bu0jMJgdN0Emarjx98IL7             1417
0   5tmkX2fJ7KUAnMz3W1ibEr  6Bu0jMJgdN0Emarjx98IL7             1418
0   1UwUhKmFxGKs59xiWO60Sx  6Bu0jMJgdN0Emarjx98IL7             1419

[1420 rows x 3 columns]

In [26]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == 'New Music Fix')].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = 'New Music Fix'
description = "Songs from New Music Fix in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   7hbvq2vHYcYTgRs2tJgiel  0Cwr3XcLdGZ5ZqDtI7lL11                0
0   6TZ6vaiyYeMZzPef9hvnZL  0Cwr3XcLdGZ5ZqDtI7lL11                1
0   4syzriQO4gEZR61pU5FBFd  0Cwr3XcLdGZ5ZqDtI7lL11                2
0   1wdvOCqjuZvByeFPCpnTL6  0Cwr3XcLdGZ5ZqDtI7lL11                3
0   2dqMoMjBQmhm8UWBmTuPbr  0Cwr3XcLdGZ5ZqDtI7lL11                4
..                     ...                     ...              ...
0   1pxLVdC8sjLDA2DF3uOEuW  0Cwr3XcLdGZ5ZqDtI7lL11              665
0   0RTuA2AWVjFw0MURes4kse  0Cwr3XcLdGZ5ZqDtI7lL11              666
0   1MCrtBVXxy2p48uWwnBwEz  0Cwr3XcLdGZ5ZqDtI7lL11              667
0   7xfwMBuatcfbzTSWRfo49f  0Cwr3XcLdGZ5ZqDtI7lL11              668
0   44pm1Xkwh9hByMtZGPqIlN  0Cwr3XcLdGZ5ZqDtI7lL11              669

[670 rows x 3 columns]

In [27]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Chillest Show")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Radio 1's Chillest Show"
description = "Songs from the Chillest Show in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   0SIrEgMzTSWzFoT272mk2X  1p5mKMwcQVCeQNVkzpUZqJ                0
0   0ExmMhntKXPTMmKKatE8hD  1p5mKMwcQVCeQNVkzpUZqJ                1
0   1OLzbUhgmGf9KCXj2ncYVO  1p5mKMwcQVCeQNVkzpUZqJ                2
0   67zg0RXCLGmf934W2H2ooM  1p5mKMwcQVCeQNVkzpUZqJ                3
0   5BDwUWuWGn45rYxfa0jbsm  1p5mKMwcQVCeQNVkzpUZqJ                4
..                     ...                     ...              ...
0   6u5lHozM0oGj2l16lTF3KP  1p5mKMwcQVCeQNVkzpUZqJ             1081
0   7oAuqs6akGnPU3Tb00ZmyM  1p5mKMwcQVCeQNVkzpUZqJ             1082
0   38vxstSXciei0IuEO2MoGI  1p5mKMwcQVCeQNVkzpUZqJ             1083
0   2xOdFPQn17smnZrFCtFNSv  1p5mKMwcQVCeQNVkzpUZqJ             1084
0   69cmKJCT4thXR1qT1g34w7  1p5mKMwcQVCeQNVkzpUZqJ             1085

[1086 rows x 3 columns]

In [28]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == "Radio 1's Power Down Playlist with Sian Eleri")].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = "Radio 1's Power Down Playlist with Sian Eleri"
description = "Songs from the Power Down Playlist with Sian Eleri in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   2CwUy8aMNWAislPr58fDvI  3Tqe2k7TlEB5OatSMKeppu                0
0   2gP19KH3V5JlR5MycAIL3R  3Tqe2k7TlEB5OatSMKeppu                1
0   17JWul9uzNEvVbTvRcru4D  3Tqe2k7TlEB5OatSMKeppu                2
0   2TktkzfozZifbQhXjT6I33  3Tqe2k7TlEB5OatSMKeppu                3
0   5tJKPKs5A6PrcLWJ08AkOM  3Tqe2k7TlEB5OatSMKeppu                4
..                     ...                     ...              ...
0   1TLHZcMQRMgW3N7hjh9Zlu  3Tqe2k7TlEB5OatSMKeppu              714
0   0tNuJpBgtE65diL6Q8Q7fI  3Tqe2k7TlEB5OatSMKeppu              715
0   3Z3wyUUPcKyw4nJkW2PqBA  3Tqe2k7TlEB5OatSMKeppu              716
0   3INuZoAMZsz0BOiEFTLmAu  3Tqe2k7TlEB5OatSMKeppu              717
0   2FsUQgO3jopRHjW6rQ7jMc  3Tqe2k7TlEB5OatSMKeppu              718

[719 rows x 3 columns]

In [29]:
demo_df = master_df[(master_df['Service Date'].apply(lambda date: date.year).isin([2022,2023])) & (master_df['Show Name'] == 'BBC Introducing on Radio 1')].drop_duplicates(subset=['Track ID'], keep='first')
new_tracks = list(demo_df['Track ID'].dropna())
title = 'BBC Introducing on Radio 1'
description = "Songs from BBC Introducing on Radio 1 in 2022"
edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

                  Track ID             Playlist ID  Position Number
0   55LDOljPVryLbJbHQKmSIN  07B5mpuLVdVpgSycsqn4Qc                0
0   54Jt3wJT3xIx8F0SThPcUQ  07B5mpuLVdVpgSycsqn4Qc                1
0   0WII8HWOY0oYYpVNscWPDo  07B5mpuLVdVpgSycsqn4Qc                2
0   3CyFg6XnkFbxobY7gHl6ve  07B5mpuLVdVpgSycsqn4Qc                3
0   40yf1JcFWQQgStNTHVg6pR  07B5mpuLVdVpgSycsqn4Qc                4
..                     ...                     ...              ...
0   2kC9Ccwk1ILSzCN3IBROOx  07B5mpuLVdVpgSycsqn4Qc              677
0   4f5SAiUVc4WFvuxva3JhnR  07B5mpuLVdVpgSycsqn4Qc              678
0   3BOiQtFYI4EE27CyNwm9rU  07B5mpuLVdVpgSycsqn4Qc              679
0   62UTBl5LVd6HOCFvT57Axt  07B5mpuLVdVpgSycsqn4Qc              680
0   0pzzE87cENSrNAJleZybgy  07B5mpuLVdVpgSycsqn4Qc              681

[682 rows x 3 columns]

In [26]:
#make_playlist(title, description)
#edit_playlist_tracks(playlists[playlists['name'] == title]['id'][0], new_tracks)

#edit_playlist_details(user=my_id, playlist_id = playlist_id, name = name', description = 'description')
#get_playlist(playlist_id, with_tracks = False)
#get_playlist(playlist_id = playlist_id)
#delete_playlist(playlist_id = playlist_id)

In [16]:
playlist_tracks.to_pickle('../data/spotify_playlist_tracks.pkl')
playlists.to_pickle('../data/spotify_playlists.pkl')
tracks.to_pickle('../data/spotify_tracks.pkl')
albums.to_pickle('../data/spotify_albums.pkl')
artists.to_pickle('../data/spotify_artists.pkl')